.container {
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: gray;
}

h1 {
  margin: 30px;
  font-family: sans-serif;
  font-size: 8rem;
  color: Blue;
}

h3 {
  font-size: 2rem;
  color: green;
  font-family: sans-serif;
}

img {
  width: 80%;
}


}
